.rmv-sv-joystick {
  position: relative;
  height: 90px;
  margin-top: 8px;
  width: 100%;
}

.rmv-sv-joystick .rmv-sv-joystick-center {
  width: 22px;
  height: 22px;
  border-radius: 22px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
}

.rmv-sv-joystick-left-rotate {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  cursor: pointer;
  z-index: 99;
}

.rmv-sv-joystick-right-rotate {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  cursor: pointer;
  z-index: 99;
}
