@import '../GoogleModelViewer/index.css';

.rmv-sv-container {
  position: relative;
}

.rmv-sv-toolbar {
  display: flex;
  padding: 8px 4px;
  background: black;
  color: white;
  position: relative;
}

.rmv-sv-toolbar-item {
  margin-right: 8px;
}

.rmv-sv-loose-container {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.rmv-sv-loose-container .rmv-gmv-attr-modal {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: rgba(51, 51, 51, 1);
  padding: 0 8px;
  padding-left: 20px;
  box-sizing: border-box;
}

.rmv-sv-loose-container .rmv-gmv-attr-modal-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.rmv-sv-loose-container .rmv-gmv-attr-modal .item {
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  line-height: 22px;
  margin-right: 16px;
}

.rmv-sv-loose-container .rmv-sv-toolbar {
  position: absolute;
  width: 100px;
  min-width: 100px;
  height: fit-content;
  padding: 8px 8px;
  opacity: 0.75;
  background: #50535a;
  display: flex;
  flex-direction: column;
  right: 10px;
  top: 20px;
}

.rmv-sv-loose-container .rmv-sv-toolbar .rmv-sv-toolbar-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  width: 100%;
  font-size: 14px;
}

.rmv-sv-loose-container .rmv-sv-joystick {
  position: relative;
  height: 90px;
  margin-top: 8px;
}

.rmv-sv-loose-container .rmv-sv-joystick .rmv-sv-joystick-center {
  width: 22px;
  height: 22px;
  border-radius: 22px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
}
