.rmv-gmv-container {
  position: relative;
}

.rmv-gmv-attr-modal {
  position: absolute;
  background: rgba(0, 0, 0, 0.45);
  height: auto;
  right: 0;
  top: 0;
  padding: 0 16px;
}

.rmv-gmv-attr-modal .item {
  height: 25px;
  line-height: 25px;
  color: white;
  font-size: 10px;
  display: flex;
  align-items: center;
}

.rmv-gmv-attr-modal .item span {
  float: right;
  margin-top: -5px;
  margin-left: 4px;
}
